body {
    margin: 0;    
}

section:first-child{
    max-width: 100%;
    height: 30px;
    background-color: #00084D;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;

}

section:first-child span {
    display: flex;
    align-items: center;
}

section:first-child span svg {
    margin-right: 20px;
}

section:first-child span svg + a {
    color: #CCCDDB;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: bold;
}

section:first-child span svg + a:hover {
    border-bottom: 2px solid #CCCDDB;
} /*Añadir outline solo abajo*/


section:first-child span a {
    text-decoration: none;
    color: #CCCDDB;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    margin-right: 20px;
}

section:first-child span a:hover {
    text-decoration: underline;
}
