body {
    margin: 0;
}

section:first-child{
    max-width: 100%;
    height: 30px;
    background-color: #00084D;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;

}

section:first-child span {
    display: flex;
    align-items: center;
}

section:first-child span svg:first-child:not(section:first-child span a svg:last-child) {
    margin-right: 20px;
}

section:first-child span a svg:last-child {
    width: 1.2vw;
    fill: #CCCDDB;
    margin-left: 10px;
}

section:first-child span svg + a {
    color: #CCCDDB;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: bold;
}

section:first-child span a {
    text-decoration: none;
    color: #CCCDDB;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    margin-right: 15px;
    display: flex;
    align-items: center;
}

section:first-child span:first-child a:hover {
    border-bottom: 2px solid #CCCDDB;
    margin-bottom: -2px;
}

section:first-child span:last-child a:hover {
    text-decoration: underline;
}

header {
    max-width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E1E2E6;
    flex-wrap: unset;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a:first-child {
    margin-right: 20px;
    width: 150px;
}

header nav a {
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #505968;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header nav a svg:not(header nav a:first-child svg) {
    margin-left: 5px;
    width: 16px;
    fill: #505968;
    transition: .5s;
}

header nav a:hover svg:not(header nav a:first-child svg) {
    transform: rotate(180deg);
    transition: .2s;
}

.enlace-desplegable:hover {
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header span {
    display: flex;
    align-items: center;
    gap: 20px;
}

header span svg {
    width: 16px;
}

.boton-blanco, .boton-azul {
    display: flex;
    font-size: 1.2em;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: 700;
    border: none;
    justify-content: center;
    align-items: center;

}

.boton-blanco {
    background-color: #FFFFFF;
    border-radius: 4px;
    outline: 3px solid #D3D5DC;
}

.boton-azul {
    background-color: #1D63ED;
    border-radius: 4px;
    outline: 3px solid #1D63ED;
    color: #FFFFFF;
}

header span .boton-blanco {
    padding: 10px 20px;
}

header span .boton-azul {
    padding: 10px 8px;
}

.boton-blanco:hover {
    background-color: #EFEFF2;
    cursor: pointer;
    transition: .2s;
}

.boton-azul:hover {
    cursor: pointer;
    background-color: #0C49C2;
    outline-color: #0C49C2;
    transition: .2s;
}

header span svg:last-child {
    fill: #389def;
    width: 36px;
    display: none;
}

header span svg:last-child:hover {
    cursor: pointer;
}

header + section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/image-background.svg);
    border-radius: 0% 0% 100% 100% / 50% 50% 20% 20% ;
}

header + section h1 {
    text-align: center;
    width: 55vw;
    font-size: 6.5vw;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    line-height: 1.1em;
    font-weight: 900;
    margin: 0.5em;
    margin-bottom: 0;
    color: #0B214A;
}

header + section p {
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0B214A;
    font-weight: 500;
    font-size: 1.5em;
    margin: 0.5em;
    text-align: center;
}

header + section p a {
    text-decoration: none;
    color: #1D63ED;
}

header + section p a:hover {
    text-decoration: underline;
}

header + section article {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 70px 0px;
}

header + section article .boton-azul:hover a + svg{
    display: none;
}

header + section article .boton-azul:hover svg:last-child{
    display: block;
}

header + section article .boton-azul a {
    padding: 16px 24px;
    text-decoration: none;
    color: #FFFFFF;
    border-right: 1px solid #1c8aed;
}

header + section article .boton-azul svg {
    width: 15px;
    padding: 16px;
    fill: #FFFFFF;
}

header + section article .boton-azul svg:last-child {
    display: none;
}

header + section article .boton-blanco {
    padding: 20px 40px;
}

header + section img {
    width: 48%;
    border-radius: 4px;
}

#what-is-docker {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#what-is-docker h2 {
    text-align: center;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: 500;
    font-size: 1.5vw;
    background: linear-gradient(to right, #00094f , #1d63ec); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

#what-is-docker h3 {
    text-align: center;
    width: 50vw;
    font-size: 3.5vw;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: 900;
    color: #000000;
    margin: 0;
    line-height: 1.2em;
}

#what-is-docker h3 + p {
    text-align: center;
    width: 50vw;
    font-size: 1.2vw;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    margin-bottom: 60px;
}

#what-is-docker p + span{
    display: flex;
    width: 70vw;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#what-is-docker p + span button {
    display: flex;
    padding: 16px 30px;
    border-radius: 1000px;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #FAFAFB;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
}

#what-is-docker p + span button:hover {
    cursor: pointer;
}

#what-is-docker p + span button svg {
    width: 16px;
    margin-right: 20px;
    fill: #1d63ed;
}

#what-is-docker p + span .boton-activo {
    background-color: #1d63ed;
    color: #FFFFFF;
}

#what-is-docker p + span .boton-activo svg{
    fill: #FFFFFF;
}

#what-is-docker article {
    max-width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

#what-is-docker article div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
}

#what-is-docker article div h4 {
    font-size: 3.5em;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    margin: 0;
}

#what-is-docker article div span {
    display: flex;
    flex-direction: column;
}

#what-is-docker article div span h5 {
    margin: 0;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    font-size: 1.2em;
    font-weight: 500;
}

#what-is-docker article div span p {
    margin: 0;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    line-height: 1.5em;
    font-weight: 400;
}

#what-is-docker article img:last-child {
    width: 50%;
    border: 1px solid #ced6de;
    border-radius: 20px;
}



@media only screen and (max-width: 1250px) {
  section:first-child{
    padding: 10px 50px;
  }

  section:first-child span a{
    font-size: 1.6vw;
  }

  section:first-child span svg {
    width: 5vw;
  }

  header nav a:not(header nav a:first-child), header span svg:first-child, header span .boton-azul, header span .boton-blanco{
    display: none;
  }

  header span svg:last-child {
    display: inline;
  }

  header + section {
    background-attachment: scroll;
  }

  header + section img {
    width: 80%;
  }

  #what-is-docker h2 {
    font-size: 2.7vw;
  }

  #what-is-docker h3{
    width: 75vw;
    font-size: 5vw;
  }

  #what-is-docker h3 + p {
    width: 80vw;
    font-size: 2.3vw;
  }
  
}   









