body {
    margin: 0;
}

article:first-child{
    max-width: 100%;
    height: 30px;
    background-color: #00084D;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;

}

article:first-child span {
    display: flex;
    align-items: center;
}

article:first-child span svg:first-child:not(article:first-child span a svg:last-child) {
    margin-right: 20px;
}

article:first-child span a svg:last-child {
    width: 1.2vw;
    fill: #CCCDDB;
    margin-left: 10px;
}

article:first-child span svg + a {
    color: #CCCDDB;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: bold;
}

article:first-child span a {
    text-decoration: none;
    color: #CCCDDB;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    margin-right: 15px;
    display: flex;
    align-items: center;
}

article:first-child span:first-child a:hover {
    border-bottom: 2px solid #CCCDDB;
    margin-bottom: -2px;
}

article:first-child span:last-child a:hover {
    text-decoration: underline;
}

header {
    max-width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E1E2E6;
    flex-wrap: unset;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a:first-child {
    margin-right: 20px;
    width: 150px;
}

header nav a {
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #505968;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header nav a svg:not(header nav a:first-child svg) {
    margin-left: 5px;
    width: 16px;
    fill: #505968;
    transition: .5s;
}

header nav a:hover svg:not(header nav a:first-child svg) {
    transform: rotate(-180deg);
    transition: .2s;
}

.enlace-desplegable:hover {
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header span {
    display: flex;
    align-items: center;
    gap: 20px;
}

header span svg {
    width: 16px;
}

.boton-blanco, .boton-azul {
    display: flex;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: 700;
    border: none;
    justify-content: center;
    align-items: center;

}

.boton-blanco {
    background-color: #FFFFFF;
    border-radius: 4px;
    outline: 3px solid #D3D5DC;
}

.boton-azul {
    background-color: #1D63ED;
    border-radius: 4px;
    outline: 3px solid #1D63ED;
    color: #FFFFFF;
}

header span .boton-blanco {
    font-size: 1.2em;
    padding: 10px 20px;
}

header span .boton-azul {
    font-size: 1.2em;
    padding: 10px 8px;
}

.boton-blanco:hover {
    background-color: #EFEFF2;
    cursor: pointer;
    transition: .2s;
}

.boton-azul:hover {
    cursor: pointer;
    background-color: #0C49C2;
    outline-color: #0C49C2;
    transition: .2s;
}

header span svg:last-child {
    fill: #389def;
    width: 36px;
    display: none;
}

header span svg:last-child:hover {
    cursor: pointer;
}

header + section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/image-background.svg);
    background-repeat: no-repeat;
}

header + section h1 {
    text-align: center;
    width: 55vw;
    font-size: 6.5vw;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    line-height: 1.1em;
    font-weight: 900;
    margin: 0.5em;
    margin-bottom: 0;
    color: #0B214A;
}

header + section p {
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0B214A;
    font-weight: 500;
    font-size: 1.5em;
    margin: 0.5em;
    text-align: center;
}

header + section p a {
    text-decoration: none;
    color: #1D63ED;
}

header + section p a:hover {
    text-decoration: underline;
}

header + section article {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 70px 0px;
}

header + section article .boton-azul:hover a + svg{
    display: none;
}

header + section article .boton-azul:hover svg:last-child{
    display: block;
}

header + section article .boton-azul a {
    padding: 16px 24px;
    font-size: 1.5em;
    text-decoration: none;
    color: #FFFFFF;
    border-right: 1px solid #1c8aed;
}

header + section article .boton-azul svg {
    width: 15px;
    padding: 16px;
    fill: #FFFFFF;
}

header + section article .boton-azul svg:last-child {
    display: none;
}

header + section article .boton-blanco {
    font-size: 1.2em;
    padding: 20px 40px;
}

header + section img {
    width: 48%;
    border-radius: 4px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

section h2 {
    width: fit-content;
    text-align: center;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: 500;
    font-size: 1.9vw;
    background: linear-gradient(to right, #00094f , #1d63ec); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

section h3 {
    text-align: center;
    width: 70vw;
    font-size: 3.5vw;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: 900;
    color: #000000;
    margin: 0;
    line-height: 1.2em;
}

section h3 + p {
    text-align: center;
    width: 60vw;
    font-size: 1.2vw;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    margin-bottom: 60px;
}

#what-is-docker p + span{
    display: flex;
    width: 70vw;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#what-is-docker p + span button {
    display: flex;
    padding: 16px 30px;
    border-radius: 1000px;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #FAFAFB;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
}

#what-is-docker p + span button:hover {
    cursor: pointer;
}

#what-is-docker p + span button svg {
    width: 16px;
    margin-right: 20px;
    fill: #1d63ed;
}

#what-is-docker p + span .boton-activo {
    background-color: #1d63ed;
    color: #FFFFFF;
}

#what-is-docker p + span .boton-activo svg{
    fill: #FFFFFF;
}

#what-is-docker article {
    max-width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

#what-is-docker article div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

#what-is-docker article div h4 {
    font-size: 3.5em;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    margin: 0;
}

#what-is-docker article div span {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#what-is-docker article div span h5 {
    margin: 0;
    font-family: 'Poppins', 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    font-size: 1.2em;
    font-weight: 500;
}

#what-is-docker article div span p {
    margin: 0;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #0b214a;
    line-height: 1.5em;
    font-weight: 400;
}

#what-is-docker article img:last-child {
    width: 50%;
    border: 1px solid #ced6de;
    border-radius: 20px;
}

#why-use-docker p + article {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 88%;
}

#why-use-docker p + article img {
    width: 25%;
}

#why-use-docker p + article + span {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#why-use-docker p + article + span div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#why-use-docker p + article + span div span:first-child {
    background-color: pink;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-size: 6vw;
    font-weight: 600;
    background: linear-gradient(to right, #00094f , #1d63ec); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#why-use-docker p + article + span div p {
    text-align: center;
    margin: -10px;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #11264e;
}

#container-development div:first-child {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-development div:first-child span:first-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 60%;
}

#container-development div:first-child span:first-child h2 {
    width: fit-content;
    text-align: start;
}

#container-development div:first-child span:first-child h3 {
    text-align: start;
}

#container-development div:first-child span:first-child p {
    text-align: start;
    width: 100%;
    color: #3e434d;
    margin-bottom: 20px;
}

#container-development div:first-child span:first-child a {
    font-size: 1.1em;
}

.enlace-azul svg {
    width: 14px;
    margin-left: 7px;
    fill: #286bed;
}

.enlace-azul {
    display: flex;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    text-decoration: none;
    font-weight: 600;
    color: #286bed;
    width: fit-content;
    transition: .5s;
}

.enlace-azul:hover {
    border-bottom: 2px solid #286bed;
    margin-bottom: -2px;
    border-color: #26437a;
    color: #26437a;
    transition: color 0.5s;
}

#container-development div:first-child img:last-child {
    width: 20vw;
}

section + img {
    display: flex;
    margin: auto;
    width: 50%;
    margin-bottom: 100px;
}

#connect h3 + p {
    width: 50%;
    margin-bottom: 20px;
}

#connect h3 + p + .enlace-azul,  #connect h4 + p + .enlace-azul {
    font-size: 1.2em;
}

#connect h4 {
    color: #0b214a;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-size: 1.5em;
    font-weight: 400;
}

#connect h4 + p {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    width: 30%;
    color: #6a7588;
}

#develop-from-code {
    background-color: #03061e;
}

#develop-from-code h2 {
    margin-top: 120px;
    -webkit-text-fill-color: #FFFFFF;
    font-size: 3.5vw;
    font-weight: 600;
    width: 50%;
    line-height: 1.2em;
}

#develop-from-code h2 + p {
    text-align: center;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #FFFFFF;
    font-size: 1.2vw;
    width: 60vw;
}

#develop-from-code h2 + p .enlace-azul {
    font-size: 1.2em;
}

#develop-from-code a + article {
    margin-top: 80px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6em;
}

#develop-from-code a + article div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#develop-from-code a + article div p {
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    color: #FFFFFF;
    font-size: 1.1em;
}

#develop-from-code h3 {
    margin: 50px 0px;
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: 500;
}

#develop-from-code h3 + article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-bottom: 150px;    
}

#develop-from-code h3 + article span {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6vw;
}

#develop-from-code h3 + article span img {
    width: 140px;
    object-fit: contain;
    opacity: 0.5;
}

#how-to-get-started div:first-child {
    width: 80%;
}

#how-to-get-started div:first-child h2 {
    text-align: start;
}

#how-to-get-started div:first-child h3 {
    text-align: start;
    width: 100%;
    font-size: 3vw;
    margin-bottom: 50px;
}

#how-to-get-started div:first-child + article {
    display: flex;
    max-width: 80vw;
    justify-content: space-between;
    margin-bottom: 75px;
}

#how-to-get-started div:first-child + article span {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 29%;
}

#how-to-get-started div:first-child + article span img{
    width: 32px;
    margin-bottom: 10px;
}

#how-to-get-started div:first-child + article span h3 {
    text-align: start;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 15px;
}

#how-to-get-started div:first-child + article span p {
    text-align: start;
    width: 100%;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 15px;
    color: #7a8394;
}

#how-to-get-started article:last-child {
    width: 80%;
    padding: 85px 20px;
    background-color: #1d63ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

#how-to-get-started article:last-child span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#how-to-get-started article:last-child h2 {
    text-align: left;
    -webkit-text-fill-color: #FFFFFF;
    font-weight: 600;
    font-size: 2.3em;
    margin: 0;
}

#how-to-get-started article:last-child p {
    color: #FFFFFF;
    font-size: 1.3em;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    margin: 0;
}

#how-to-get-started article:last-child a {
    text-decoration: none;
    font-family: 'Roboto', 'Courier New', 'Arial', 'Sans Serif';
    font-weight: 600;
    font-size: 1.1em;
    color: #1d63ec;
    padding: 15px 40px;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: .3s;
}

#how-to-get-started article:last-child a:hover {
    background-color: #EFEFF2;
    transition: .3s;
}

@media only screen and (max-width: 1250px) {
article:first-child {
    padding: 10px 50px;
}

article:first-child span a {
    font-size: 1.6vw;
}

article:first-child span svg {
    width: 5vw;
}

header nav a {
    font-size: smaller;
    padding: 20px 8px;
}

header span svg {
    width: 12px;
}

header span .boton-blanco, header span .boton-azul{
    font-size: 1em;
}

header nav a svg:not(header nav a:first-child svg) {
    width: 10px;
}

section h3 + p {
    font-size: 1.4vw;
}

#develop-from-code h2 + p {
    font-size: 1.4vw;
}

#how-to-get-started div:first-child h3 {
    font-size: 4vw;
}

#how-to-get-started div:first-child + article {
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

#how-to-get-started div:first-child + article span {
    max-width: 100%;
}

#how-to-get-started div:first-child + article span p {
    width: 100%;
}

#how-to-get-started article:last-child {
    padding: 35px;
    flex-direction: column;
}   

#how-to-get-started article:last-child h2 {
    margin: 10px 0px;
}

#how-to-get-started article:last-child p {
    margin-bottom: 30px;
}

}


@media only screen and (max-width: 981px) {


  header nav a:not(header nav a:first-child), header span svg:first-child, header span .boton-azul, header span .boton-blanco{
    display: none;
  }

  header span svg:last-child {
    display: inline;
  }

  header + section {
    background-attachment: scroll;
  }

  header + section img {
    width: 80%;
  }


section h2 {
    font-size: 3vw;
  }

section h3{
    width: 90vw;
    font-size: 6vw;
  }

section h3 + p {
    width: 80vw;
    font-size: 2vw;
  }

  #what-is-docker article {
    flex-direction: column;
  }

  #what-is-docker article div {
    width: 80vw;
  }

  #what-is-docker article div h4{
    font-size: 5vw;    
  }

  #what-is-docker article img:last-child {
    margin-top: 10px;
    width: 70vw;
  }

  #why-use-docker p {
    margin-bottom: 20px;
  }

  #why-use-docker p + article {
    width: 70%;
  }

  #why-use-docker p + article img {
    width: 50%;
  }

  #why-use-docker p + article + span {
    flex-direction: column;
    gap: 1.5em;
  }

  #why-use-docker p + article + span div span:first-child {
    font-size: 9vw;
  }

  #container-development div:first-child{
    flex-direction: column;
  }

  #container-development div:first-child span:first-child {
    max-width: 100%;
  }

  #container-development div:first-child img:last-child {
    margin-top: 50px;
    width: 20vw;
  }
  section + img {
    width: 80%;
  }

  #connect h3 + p {
    width: 80%;
  }

  #connect h4 + p {
    width: 80%;
  }

  #develop-from-code h2 {
    width: 90vw;
    font-size: 6vw;
  }

  #develop-from-code h2 + p {
    font-size: 2vw;
  }

  #develop-from-code a + article {
    flex-direction: column;
    gap: 2em;
  }

  #develop-from-code h3 {
    font-size: 3.3vw;
  }

  #develop-from-code h3 + article {
    flex-direction: row;
  }

  #develop-from-code h3 + article span {
    width: 30%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #how-to-get-started div:first-child h3 {
    font-size: 6vw;
  }



  #how-to-get-started article:last-child h2 {
    font-size: 1.8em;
    line-height: 1.1em;
  }
  
  #how-to-get-started article:last-child p {
    font-size: 1.2em;
  }
}   

@media only screen and (max-width: 650px) {
    article:first-child {
        flex-direction: column;
        align-items: center;
        padding: 30px 10px;
        gap: 10px;
    }

    article:first-child span:first-child svg {
        width: 50px;
    }

    article:first-child span:first-child a {
        font-size: 2.4vw;
    }

    article:first-child span:last-child a {
        font-size: 2.4vw;
    }

    section h3 + p {
        margin-top: 10px;
        font-size: 3vw;
    }

    #what-is-docker article div {
        gap: 0.4em;
    }

    #what-is-docker article img:last-child {
        width: 80vw;
    }

    #why-use-docker p + article + span {
        gap: 3em;
    }

    #container-development div:first-child img:last-child {
        width: 150px;
    }

    #develop-from-code h2 + p {
        width: 90%;
        font-size: 3vw;
    }

    #develop-from-code h3 {
        font-size: 4vw;
    }

    #develop-from-code h3 + article span img {
        width: 120px;
    }
}

@media only screen and (max-width: 560px) {
    article:first-child {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    article:first-child span svg {
        display: none;
    }

    article:first-child span:first-child a, article:first-child span:last-child a {
        text-align: center;
        font-size: 16px;
    }

    header + section h1 {
        width: 80%;
        font-size: 2em;
    }

    header + section h1 + p {
        font-size: 1.2em;
    }

    header + section article {
        margin: 50px;
    }

    header + section article .boton-azul {
        display: none;
    }

    header + section article .boton-blanco {
        padding: 15px 20px;
    }

    section h2 {
        font-size: 1.3em;
    }

    section h3 {
        width: 90%;
        font-size: 2.2em;
    }

    section h3 + p {
        width: 90%;
        font-size: 1em;
    }

    #what-is-docker p + span button, #what-is-docker p + span .boton-activo {
        font-size: 1em;
        padding: 15px 20px;
    }

    #what-is-docker article div h4 {
        font-size: 2.5em;
    }

    #why-use-docker p + article + span {
        gap: 4em;
    }

    #why-use-docker p + article + span div span:first-child {
        font-size: 4em;
    }

    #develop-from-code h2 {
        width: 80%;
        font-size: 2.2em;
    }

    #develop-from-code h2 + p {
        font-size: 1.1em;
    }

    #develop-from-code a + article div p {
        font-size: 1em;
    }

    #develop-from-code h3 {
        font-size: 1.5em;
    }

    #how-to-get-started div:first-child h3 {
        font-size: 2.2em;
    }
}